body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

main {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.column:last-child {
    margin-right: 0;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-container button:hover {
    background-color: #45a049;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button#deleteBook {
    background-color: #f44336;
}

button#deleteBook:hover {
    background-color: #dd1919;
}


/* Styles for the books table */
#booksTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#booksTable th,
#booksTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#booksTable th {
    background-color: #f2f2f2;
}

#booksTable tr:hover {
    background-color: #f5f5f5;
}

#booksTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
header h1{
    color: #ddd;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
