<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sign.css">

    <title>Sign In</title>
</head>
<body>
    <div class="container main-container">


        <form action="/registered" method="post" th:object="${user}" class="sign-in-form">
    <h2>Sign In</h2>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label>Gender:</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="address">Address:</label>
            <textarea id="address" name="address" required></textarea>

            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="repeatPassword">Repeat Password:</label>
            <input type="password" id="repeatPassword" name="repeatPassword" required>

            <label class="checkbox-container">I agree to the terms and conditions
                <input type="checkbox" id="terms" name="terms" required>
                <span class="checkmark"></span>
            </label>

            <button type="submit">Sign In</button>
        </form>        
    </div>
</body>
</html>